* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.categories{
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.categories-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 16px;

}

.item{
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  
  background-color: #f6f6fe;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.categories-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categories-item{
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 0 8px 16px;
  
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
  padding: 0;

}

.gallery-item{
  flex-basis: calc((100% - 48px) / 3);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.input{
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.title{
 font-weight: 600;
 font-size: 24px;
 line-height: 1.3;
 color: #2e2f42;
}

.login-form label{
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.input{
  margin: 0 0 8px 0;
  background-color: transparent;
}

.button{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background-color: #4e75ff;
    color: #ffff;
    font-weight: 500;
    font-size: 16px;
}

.widget{
  width: 345px;
  margin: 0 auto;
}

.text{
  text-align: center;
}

.btn{
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin: 16px auto;
}



